In [3]:
import os
import pandas as pd
# pd.options.mode.chained_assignment = None

In [4]:
data = pd.read_csv(os.path.join('..','data','predictions.csv'))

In [5]:
data.head(5)

,Unnamed: 0,OBJECTID,pointid,KNN,LR,MLP,SVM,RF,DT
0,0,1,1,0.000000,0.994069,0.986894,0.999998,0.315385,0.0
1,1,2,2,0.000000,0.988444,0.962441,0.999983,0.305994,0.0
2,2,3,3,0.000000,0.988777,0.992876,0.999993,0.202434,0.0
3,3,4,4,0.196090,0.996711,0.992554,0.999999,0.362815,0.0
4,4,5,5,0.384963,0.986996,0.924938,0.999995,0.442361,0.0

In [6]:
aggr = data[['OBJECTID']]

In [7]:
aggr

         OBJECTID
0               1
1               2
2               3
3               4
4               5
...           ...
1570989   1570990
1570990   1570991
1570991   1570992
1570992   1570993
1570993   1570994

[1570994 rows x 1 columns]

In [8]:
aggr['Aggregate'] = (data['KNN']+data['LR']+data['MLP']+data['SVM']+data['RF'])/5

/home/nahian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
aggr.head(5)

   OBJECTID  Aggregate
0         1   0.659269
1         2   0.651373
2         3   0.636816
3         4   0.709634
4         5   0.747851

In [10]:
aggr.to_csv(os.path.join('..','data','aggregate_predictions.csv'))